<!doctype html>
<title>Sheltered</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <div class=metanav>
    </div>    
    <h1>Sheltered</h1>
    <script language="javascript" type="text/javascript">
        var images = [];
        images = {{ picture_list|safe }};
        var image = (function(){
                return function(){
                return images[Math.floor(Math.random()*images.length)];}
            }) ();
    </script>
    <img src="{{ picture_list|random }}" onclick="this.src=image()" style="position:relative; width:550px;height:400px;">

</div>

